<% if flash[:notice] %>
  <div id='flash_message'>
    <%= flash[:notice] %>
    <a href='#' class='close'>dismiss</a>
  </div>
<% end %>

<div id="main">
  <h2>Pokemon Filters</h2>
  <div id='filters'>
    <ul>
      <li>
        <a href='/' class='pokemon-type' >all</a>
      </li>
      <% @types.each do |type| %>
        <li>
          <a href='/?type=<%= type %>' class='<%= type %> pokemon-type' ><%= type %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <hr/>

  <div id='captured_pokemon'>
    <h2>Captured Pokemon</h2>
    <% @captured_pokemon.each do |pokemon|  %>
      <%=erb :_pokemon_container, locals: { pokemon: pokemon, action: :release }%>
    <% end %>
  </div>

  <hr/>

  <div id='free_pokemon'>
    <h2>Free Pokemon</h2>
    <% @free_pokemon.each do |pokemon|  %>
      <%=erb :_pokemon_container, locals: { pokemon: pokemon, action: :catch }%>
    <% end %>
  </div>
</div>
