<% if flash[:notice] %>
  <div id='flash_message'>
    <%= flash[:notice] %>
    <a href='#' class='close'>dismiss</a>
  </div>
<% end %>

<div id="main">
  <h2>Pokemon Filters</h2>
  <div id='filters'>
    <ul>
      <li>
        <a href='/' class='pokemon-type' >all</a>
      </li>
      <% @types.each do |type| %>
        <li>
          <a href='/?type=<%= type %>' class='<%= type %> pokemon-type' ><%= type %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <hr/>

  <!-- The similarities between #captured_pokemon & #free_pokemon aren't coincidence :-) -->
  <div id='captured_pokemon'>
    <h2>Captured Pokemon</h2>
    <% @captured_pokemon.each do |pokemon|  %>
      <div class='pokemon-container'>
        <h3>
          <a href='http://pokemondb.net/pokedex/<%=pokemon.id%>' target='blank'>
            <%= pokemon.name %>
          </a>
        </h3>
        <img src='http://img.pokemondb.net/artwork/<%=pokemon.name.downcase%>.jpg'
             onerror="this.onerror=null;this.src='/images/new_pokemon.png'" />
        <p class='<%=pokemon.type%> pokemon-type'> <%=pokemon.type%> </p>
        <form method='post' action="/release/<%=pokemon.id%>">
          <input type='hidden' name='type' value='<%=params[:type]%>'></input>
          <input type='submit' value='Release!'></input>
        </form>
      </div>
    <% end %>
  </div>

  <hr/>

  <div id='free_pokemon'>
    <h2>Free Pokemon</h2>
    <% @free_pokemon.each do |pokemon|  %>
      <div class='pokemon-container'>
        <h3>
          <a href='http://pokemondb.net/pokedex/<%=pokemon.id%>' target='blank'>
            <%= pokemon.name %>
          </a>
        </h3>
        <img src='http://img.pokemondb.net/artwork/<%=pokemon.name.downcase%>.jpg'
             onerror="this.onerror=null;this.src='/images/new_pokemon.png'" />
        <p class='<%=pokemon.type%> pokemon-type'> <%=pokemon.type%> </p>
        <form method='post' action="/catch/<%=pokemon.id%>">
          <input type='hidden' name='type' value='<%=params[:type]%>'></input>
          <input type='submit' value='Catch!'></input>
        </form>
      </div>
    <% end %>
  </div>
</div>
